## NAC 01 - Campanha Telefônica

Nosso estudo se baseia em uma campanha telefônica de um banco com os dados dos clientes que foram contemplados com as ligações.

Primeiro, importamos as bibliotecas que serão utilizadas para a leitura dos dados.

In [1]:
import pandas as pd
import numpy as np

Depois, importamos os arquivos que possuem os dados do estudo.

In [2]:
data = pd.read_csv('../data/bank-full.csv', sep = ";")

Listamos os dados para sabermos com quais informações estávamos lidando.

In [3]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

### Início do estudo
Após listarmos os dados, resolvemos focar no impacto das campanhas de forma positiva e negativa, tentando entender qual
o tipo de público mais e menos propenso a ser atingido pela mesma.

#### Casos de sucesso

Começamos pelos clientes em que a campanha obteve sucesso.

Para podermos filtrá-los, criamos uma máscara e a armazenamos em uma variável, o que nos retornou 1511 clientes.

In [4]:
maskSuccess = (data.poutcome == "success")
dataSuccess = data[maskSuccess]

dataSuccess

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
24080,56,technician,married,secondary,no,589,yes,no,unknown,23,oct,518,1,147,2,success,yes
24165,30,admin.,married,secondary,no,873,yes,no,telephone,12,nov,119,1,167,3,success,no
24239,48,admin.,divorced,secondary,no,295,yes,no,cellular,17,nov,123,1,164,2,success,no
24264,49,management,married,tertiary,no,64,no,no,cellular,17,nov,208,1,159,1,success,no
24435,42,technician,married,tertiary,no,14282,yes,no,cellular,17,nov,77,1,103,4,success,no
24506,42,unemployed,married,unknown,no,970,yes,no,telephone,17,nov,725,1,119,10,success,no
24545,46,services,divorced,secondary,no,0,no,no,cellular,17,nov,407,1,150,3,success,no
24574,36,management,divorced,tertiary,no,3837,yes,no,cellular,17,nov,184,1,193,1,success,no
24622,53,retired,married,tertiary,no,2269,no,no,cellular,17,nov,1091,2,150,1,success,yes
24786,41,blue-collar,married,primary,no,1461,yes,no,cellular,18,nov,290,1,165,2,success,no
24802,56,technician,married,secondary,no,589,yes,no,cellular,18,nov,208,1,26,3,success,no
24838,42,admin.,single,secondary,no,-247,yes,yes,cellular,18,nov,104,2,28,2,success,no
24902,41,services,married,secondary,no,446,yes,no,cellular,18,nov,296,1,186,1,success,no
25050,41,blue-collar,married,secondary,no,1954,no,no,cellular,18,nov,65,1,110,2,success,no
25118,32,blue-collar,single,secondary,no,118,yes,no,cellular,18,nov,216,1,124,1,success,no
25282,44,services,married,secondary,no,-236,yes,no,cellular,18,nov,218,2,113,7,success,no
25297,52,self-employed,married,tertiary,no,5350,yes,yes,cellular,18,nov,68,2,110,4,success,no
25478,30,management,married,tertiary,no,314,no,no,cellular,19,nov,364,2,175,2,success,no
25525,32,blue-collar,married,secondary,no,2089,yes,no,cellular,19,nov,192,1,5,1,success,no
25537,32,management,single,tertiary,no,2667,yes,no,cellular,19,nov,197,1,99,2,success,no
25555,45,management,divorced,secondary,no,644,yes,no,cellular,19,nov,418,1,168,1,success,yes
25700,39,housemaid,married,secondary,no,1444,no,no,cellular,19,nov,100,1,117,8,success,no
25714,54,services,married,unknown,no,386,no,yes,cellular,19,nov,74,1,152,1,success,no
25721,37,blue-collar,married,secondary,no,1165,yes,no,cellular,19,nov,62,3,190,4,success,no
25845,46,unemployed,divorced,secondary,no,3354,yes,no,cellular,19,nov,522,1,174,1,success,yes
25962,34,admin.,married,tertiary,no,899,yes,no,telephone,19,nov,377,3,7,4,success,no
26006,40,admin.,single,secondary,no,664,no,no,cellular,19,nov,188,2,121,2,success,no
26069,39,management,divorced,tertiary,no,4692,yes,no,telephone,19,nov,214,2,174,2,success,no
26100,40,management,married,tertiary,no,3352,yes,no,cellular,19,nov,639,2,27,1,success,yes
26127,44,blue-collar,single,primary,no,1593,yes,no,cellular,19,nov,201,2,174,3,success,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45126,54,technician,married,tertiary,no,876,no,no,cellular,27,oct,269,3,541,3,success,yes
45128,23,unemployed,single,tertiary,no,993,no,no,cellular,27,oct,409,1,91,4,success,no
45129,46,technician,married,unknown,no,3308,no,no,cellular,27,oct,171,1,91,2,success,yes
45132,61,retired,married,secondary,no,1058,no,no,cellular,27,oct,277,1,92,5,success,no
45134,70,retired,married,secondary,no,0,no,no,cellular,27,oct,258,1,92,5,success,yes
45140,63,entrepreneur,married,secondary,no,3904,no,no,telephone,8,nov,360,1,96,4,success,yes
45141,77,unknown,married,unknown,no,397,no,no,telephone,8,nov,207,1,185,3,success,no
45142,34,admin.,married,tertiary,no,79,yes,no,cellular,8,nov,120,2,95,6,success,no
45149,38,technician,married,tertiary,no,88,no,no,cellular,8,nov,282,2,186,4,success,yes
45150,65,management,married,unknown,no,2352,no,no,cellular,8,nov,354,3,188,13,success,no
45155,44,entrepreneur,married,tertiary,no,121,no,no,cellular,9,nov,248,1,91,1,success,yes
45160,35,technician,married,secondary,no,0,yes,no,cellular,9,nov,524,1,96,5,success,yes
45162,29,admin.,single,secondary,no,464,no,no,cellular,9,nov,208,2,91,3,success,yes
45166,41,unemployed,single,tertiary,no,79,no,no,telephone,9,nov,394,1,390,2,success,yes
45168,62,retired,married,tertiary,no,2557,yes,no,cellular,10,nov,404,1,57,8,success,yes
45172,30,technician,single,tertiary,no,2325,no,no,cellular,10,nov,134,1,92,8,success,no
45174,62,blue-collar,married,secondary,no,272,no,no,cellular,11,nov,289,1,92,3,success,yes
45175,38,entrepreneur,single,secondary,no,2543,no,no,cellular,11,nov,357,3,93,5,success,yes
45177,36,admin.,divorced,secondary,no,1224,yes,no,cellular,12,nov,482,1,374,1,success,yes
45178,34,blue-collar,married,secondary,no,320,yes,no,cellular,12,nov,413,1,92,3,success,yes
45182,34,technician,married,secondary,no,133,no,no,cellular,15,nov,401,2,187,5,success,yes
45183,70,retired,married,primary,no,324,no,no,cellular,15,nov,78,1,96,7,success,no
45184,63,retired,married,secondary,no,1495,no,no,cellular,16,nov,138,1,22,5,success,no
45185,60,services,married,tertiary,no,4256,yes,no,cellular,16,nov,200,1,92,4,success,yes
45188,29,management,single,secondary,no,703,yes,no,cellular,16,nov,236,1,550,2,success,yes
45190,32,blue-collar,married,secondary,no,136,no,no,cellular,16,nov,206,1,188,3,success,yes
45193,28,self-employed,single,tertiary,no,159,no,no,cellular,16,nov,449,2,33,4,success,yes
45195,68,retired,married,secondary,no,1146,no,no,cellular,16,nov,212,1,187,6,success,yes
45201,53,management,married,tertiary,no,583,no,no,cellular,17,nov,226,1,184,4,success,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes

Para entender melhor porquê a campanha deu certo com essas pessoas, buscamos saber o que elas possuem em comum.
Entre as pessoas que a campanha obteve sucesso, qual emprego aparece mais?

Para responder esta pergunta, rodamos o comando abaixo, e como é possível observar, a área de atuação que mais se destaca
é "management" (gerente).

In [5]:
dataSuccess.job.value_counts()

management       387
technician       245
admin.           204
retired          174
blue-collar      148
student           87
services          85
unemployed        64
self-employed     55
housemaid         29
entrepreneur      22
unknown           11
Name: job, dtype: int64

Indo um pouco mais fundo, buscamos saber se o nível de educação também seria relevante no sucesso da campanha.
Para isso, criamos uma máscara para filtrarmos pessoas que trabalham em "management", e utilizamos a máscara de
sucesso na campanha para buscar clientes que se encaixam nesses dois tópicos.

Em seguida, procuramos saber, qual nível de educação seria o mais recorrente entre esses clientes?
Como resultado, obtivemos que a grande maioria (87%) possui nível terceiro de educação, o que seria o mais alto entre os três listados.

In [23]:
maskJobManagement = (data.job == "management")
 
result = data[maskJobManagement & maskSuccess]
 
result.education.value_counts()

tertiary     337
unknown       23
secondary     20
primary        7
Name: education, dtype: int64

Apesar disso, a campanha também obteve sucesso em pessoas com nível segundo de educação, o que
descarta ela estar totalmente ligada ao sucesso da campanha, sendo mais possível que esteja
ligada ao trabalho que o cliente exerce.

#### Casos de fracasso

Em contrapartida, buscamos saber qual trabalho estaria em destaque entre clientes em que a campanha fracassou.
Seguindo a forma como fizemos para filtrar clientes em caso de sucesso, criamos uma máscara para clientes em que a campanha não o obteve, o que nos retornou 4901 clientes.

In [8]:
maskFailure = (data.poutcome == "failure")
dataFailure = data[maskFailure]

dataFailure

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
24060,33,admin.,married,tertiary,no,882,no,no,telephone,21,oct,39,1,151,3,failure,no
24064,33,services,married,secondary,no,3444,yes,no,telephone,21,oct,144,1,91,4,failure,yes
24077,36,management,married,tertiary,no,0,yes,no,telephone,23,oct,140,1,143,3,failure,yes
24127,51,admin.,single,secondary,no,3132,no,no,telephone,5,nov,449,1,176,1,failure,no
24151,33,unemployed,divorced,secondary,no,1005,yes,no,telephone,10,nov,175,1,174,2,failure,no
24160,34,admin.,married,tertiary,no,899,yes,no,unknown,12,nov,114,1,170,3,failure,yes
24170,30,management,single,tertiary,no,1243,yes,no,telephone,13,nov,86,1,174,1,failure,no
24184,44,entrepreneur,married,tertiary,no,1631,yes,no,cellular,17,nov,81,1,195,2,failure,no
24186,51,management,divorced,tertiary,no,119,no,no,cellular,17,nov,200,1,165,2,failure,no
24187,51,technician,married,secondary,no,58,yes,no,cellular,17,nov,79,1,129,2,failure,no
24189,44,management,married,tertiary,no,6203,yes,yes,cellular,17,nov,58,1,188,1,failure,no
24198,34,technician,single,secondary,no,105,yes,no,cellular,17,nov,303,1,196,2,failure,no
24203,49,management,married,tertiary,no,1533,no,no,cellular,17,nov,324,1,172,1,failure,no
24207,47,housemaid,married,tertiary,no,228,yes,no,cellular,17,nov,80,1,118,1,failure,no
24208,40,management,single,secondary,no,1623,yes,no,cellular,17,nov,161,1,167,2,failure,no
24230,47,blue-collar,married,secondary,no,1484,no,no,cellular,17,nov,297,1,119,3,failure,no
24236,54,technician,single,secondary,no,198,yes,yes,cellular,17,nov,120,1,171,2,failure,no
24250,45,technician,married,secondary,no,1477,yes,no,cellular,17,nov,75,1,132,1,failure,no
24253,39,admin.,married,secondary,no,401,yes,no,cellular,17,nov,396,1,129,2,failure,no
24254,39,blue-collar,married,primary,no,3324,no,no,cellular,17,nov,96,1,131,1,failure,no
24257,37,management,married,tertiary,yes,0,no,no,cellular,17,nov,44,1,123,2,failure,no
24265,58,admin.,married,unknown,no,0,yes,no,cellular,17,nov,219,1,186,2,failure,no
24266,43,technician,married,secondary,no,1865,yes,no,cellular,17,nov,155,1,186,1,failure,no
24299,50,management,married,secondary,no,633,no,yes,telephone,17,nov,302,1,111,6,failure,no
24311,56,retired,married,secondary,no,2749,yes,yes,cellular,17,nov,38,1,172,2,failure,no
24312,51,entrepreneur,married,tertiary,no,209,no,no,cellular,17,nov,130,1,111,2,failure,no
24315,50,technician,single,secondary,no,246,yes,no,cellular,17,nov,270,1,123,2,failure,no
24323,45,technician,married,secondary,no,1415,yes,no,cellular,17,nov,483,1,116,1,failure,no
24326,40,services,divorced,secondary,no,5766,yes,yes,cellular,17,nov,68,2,173,1,failure,no
24327,30,management,married,tertiary,no,101,yes,no,cellular,17,nov,348,1,123,1,failure,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45080,27,student,single,secondary,no,1164,no,no,cellular,21,oct,256,2,104,2,failure,no
45104,73,retired,married,primary,no,1388,no,no,telephone,25,oct,254,1,97,6,failure,no
45106,32,technician,married,secondary,no,660,no,no,cellular,25,oct,226,2,490,1,failure,yes
45117,54,admin.,divorced,tertiary,no,122,no,no,cellular,26,oct,322,1,547,1,failure,no
45119,47,admin.,married,secondary,no,1210,no,no,cellular,26,oct,604,1,91,4,failure,yes
45121,56,admin.,divorced,secondary,no,1693,no,no,cellular,26,oct,238,4,442,4,failure,yes
45123,49,technician,married,secondary,no,308,no,no,cellular,26,oct,260,2,91,5,failure,no
45133,24,student,single,secondary,no,822,no,no,cellular,27,oct,184,1,91,2,failure,yes
45136,53,self-employed,married,tertiary,no,730,yes,no,unknown,2,nov,18,1,368,2,failure,no
45138,30,technician,single,secondary,no,500,yes,no,cellular,8,nov,176,1,543,3,failure,no
45143,28,student,single,secondary,no,970,no,no,cellular,8,nov,137,1,96,1,failure,no
45146,49,unemployed,divorced,tertiary,no,780,no,no,cellular,8,nov,148,1,871,2,failure,no
45151,47,management,single,tertiary,no,311,yes,yes,cellular,9,nov,255,3,378,2,failure,no
45152,61,housemaid,married,primary,no,182,no,no,cellular,9,nov,335,1,92,13,failure,no
45154,63,retired,married,primary,no,3738,no,no,telephone,9,nov,301,1,456,4,failure,no
45157,52,technician,married,tertiary,no,0,no,no,cellular,9,nov,467,3,92,7,failure,yes
45158,34,student,single,unknown,no,2321,no,no,cellular,9,nov,600,2,99,5,failure,no
45159,60,services,married,secondary,no,4428,no,no,cellular,9,nov,125,1,96,6,failure,no
45163,71,retired,married,secondary,no,2064,no,no,cellular,9,nov,379,2,92,3,failure,no
45169,31,management,married,tertiary,no,2994,yes,no,cellular,10,nov,182,1,229,2,failure,no
45171,33,admin.,single,secondary,no,690,no,no,cellular,10,nov,223,3,555,16,failure,no
45173,36,admin.,single,tertiary,no,980,no,no,cellular,11,nov,118,4,104,7,failure,no
45179,34,technician,married,secondary,no,1026,no,no,cellular,12,nov,319,1,100,6,failure,no
45180,66,retired,married,secondary,no,3409,no,no,cellular,15,nov,414,2,27,6,failure,no
45181,46,blue-collar,married,secondary,no,6879,no,no,cellular,15,nov,74,2,118,3,failure,no
45186,59,unknown,married,unknown,no,1500,no,no,cellular,16,nov,280,1,104,2,failure,no
45189,25,services,single,secondary,no,199,no,no,cellular,16,nov,173,1,92,5,failure,no
45191,75,retired,divorced,tertiary,no,3810,yes,no,cellular,16,nov,262,1,183,1,failure,yes
45194,59,management,married,tertiary,no,138,yes,yes,cellular,16,nov,162,2,187,5,failure,no
45204,73,retired,married,secondary,no,2850,no,no,cellular,17,nov,300,1,40,8,failure,yes

Após isso, com o comando abaixo foi possível saber que a maior taxa de falha estava entre trabalhadores de "blue-collar" (colarinho azul).

In [9]:
dataFailure.job.value_counts()

blue-collar      1068
management       1044
technician        797
admin.            643
services          444
retired           230
self-employed     165
entrepreneur      164
student           117
unemployed        112
housemaid          97
unknown            20
Name: job, dtype: int64

Curiosamente, a segunda categoria de trabalho com a maior taxa de fracasso é management, o que nos leva a acreditar que a ocupação do cliente não possui relação direta com o sucesso/falha da campanha.

Mudando de estratégia, pensamos que talvez o resultado da campanha estivesse ligado ao fato do cliente possuir ou não uma casa.
Para sabermos isso, verificamos qual seria esse resultado nos casos de sucesso e falha da campanha.

In [25]:
dataSuccess.housing.value_counts()

no     1040
yes     471
Name: housing, dtype: int64

In [24]:
dataFailure.housing.value_counts()

yes    3470
no     1431
Name: housing, dtype: int64

Os resultados indicam que a campanha possui maior índice de sucesso entre clientes que não possuem uma casa própria.

Desta forma, podemos afirmar que o perfil de clientes em que a campanha deveria focar são "managements" que não possuem casa própria, supondo que, por possuírem uma boa renda devido à profissão que exercem e podem estar abertos a comprar uma moradia.
Por isso, possuem uma renda que daria a eles a possibilidade de realizar depósitos periódicos sem que o dinheiro fizesse falta.

Em contraponto, o público menos indicado para foco seriam blue-collars que já possuem casa própria, supondo que devido à sua ocupação, não possuem dinheiro "de sobra" para realizarem depósitos periódicos e por já possuírem uma casa, que é um dos bens mais caros que a maioria das pessoas possuem, assim também não se faz necessário abrir uma espécie de poupança na agência com urgência.